<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AF Saúde e Benefícios - Unimed</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WV84Z5WL4H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WV84Z5WL4H');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W8P6Z66J');</script>
    <!-- End Google Tag Manager -->

    <!-- NORMALIZE.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Boostrap 4 CDN  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-agradecimento.css' %}">
    <style type="text/css">
        a{
            text-decoration: none;
        }

        footer{
            position: absolute;
            top:100%;
        }
    </style>

    <!-- Font Awesome 5 CDN -->
    <script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8P6Z66J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container mb-5">
        <h1 class="no-wrap">Obrigado por escolher realizar sua cotação de plano Unimed<br>São Carlos com a</h1>
        <img class="img img-fluid text-center" src="{% static 'img/logo.png' %}">
        <p class=" m-0 p-0">Sua solicitação foi recebida com sucesso!<br>Em breve, nossa equipe de atendimento especializado entrará em contato para ajudar na escolha do plano ideal para você.</p>
        <p class="m-0 p-0">Enquanto isso, conheça mais sobre nossos benefícios exclusivos e acompanhe nossas atualizações.</p>
        
        <!-- Link para WhatsApp -->
        <i class=" btn fab fa-whatsapp">
            <a class="text-white" style="list-style: none;" href="https://wa.me/5516999628815"  target="_blank">Fale com a gente no WhatsApp</a>
        </i>
        
        
        <!-- Seção de redes sociais -->
        <div class="social-media">
            <p class="m-0 p-0">Acompanhe a Unimed São Carlos nas redes sociais:</p>
            <i class="btn btn-outline-light fab fa-instagram text-white">
                <a class="text-white" href="https://instagram.com/afsaudebeneficios" target="_blank">Instagram</a>
            </i>
            <i class=" btn btn-outline-light fab fa-facebook text-white">
                <a class="text-white" href="https://facebook.com/AFSaudeBeneficios" target="_blank">Facebook</a>
            </i>
            
        </div>
    </div>

     <!-- FOOTER -->
    <footer class="footer row justify-content-center align-items-center text-center p-3 text-white">
        <i class="fa fa-copyright mr-2" aria-hidden="true"></i>
        <div class="mr-2">Antherus - Desenvolvimento Web</div>
        <small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
    </footer>
    

</body>
</html>
           
