@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 104, 55, 1);
    background: linear-gradient(90deg, rgba(0, 104, 55, 1) 0%, rgba(47, 110, 63, 1) 100%);
    font-family: "Kanit", sans-serif;
    overflow-x: hidden;
}

/* HEADER */
header {
    max-height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em; /* Espaçamento entre as logos */

}

/* LOGOS no header */
/* --- */
#img-logo, #img-logo-plano {
    max-height: 8em;
    width: auto;
}

/* Logo específicas */
#logo-hapvida-copy {
    max-height: 10em;
    position: relative;
    top: -3.6em;
}

li {
    list-style: none;
}

.font-size-icons {
    font-size: 5em;
    padding: 0.2em;
    color: #4767ae;
}

/* Estilos do modal */
.modal {
    position: fixed; /* Fixa o modal na tela */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centralizar perfeitamente */
    width: 90vw; /* Largura do modal será 90% da largura da tela */
    max-width: 100%; /* Evita que o modal ultrapasse a tela */
    height: 80vh; /* Altura do modal será 80% da altura da tela */
    max-height: 100vh; /* Evita que o modal ultrapasse a altura da tela */
    background-color: white; /* Cor de fundo do modal */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: auto; /* Se o conteúdo for grande, aparecerá uma rolagem */
    z-index: 9999; /* Garante que o modal fique acima de outros elementos */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

/* Conteúdo do modal */
.modal-content {
    width: 100%; /* O conteúdo do modal ocupa toda a largura do modal */
    height: auto; /* A altura do conteúdo é automática */
    max-height: 100%; /* Limita a altura máxima para não ultrapassar a altura do modal */
    overflow-y: auto; /* Adiciona rolagem interna, se necessário */
}

/* Botão de fechar (exemplo) */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.modal-body {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}

.img-modal {
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

small {
    font-size: 0.6em;
    line-height: -10em;
}

#btn-enviar:disabled {
    cursor: not-allowed;
}

/* ESTILIZAÇÃO DAS IMAGENS E FORMULÁRIOS   */
#img-logo {
    max-height: 8em;
    width: auto;
}

#img-logo-plano {
    max-height: 5em;
    width: auto;
}

#beneficios-plano-saude {
    width: 100%;
}

/* ESTILIZAÇÃO DAS MEDIAS QUERIES */

@media(max-width: 320px) {
    .modal {
        width: 95vw; /* Ajuste para telas muito pequenas */
        height: 90vh; /* Ajuste para maior altura em dispositivos móveis */
    }
    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: -6em;
        top: 1.5em;
    }

    #img-logo-plano {
        height: 10em;
        width: 10em;
        position: relative;
        left: 4em;
        top: -5.5em;
    }

    #conteudo {
        position: relative;
        top: -2em;
    }

    #destaque-mobile {
        position: relative;
        top: 0em;
        left: -5em;
        max-height: 25em;
        width: 150%;
        border:5px solid red;
    }

    #div-form {
        width: 110%;
        position: relative;
        left: -1em;
        top: -5em;
    }

    #beneficios-plano-saude {
        position: relative;
        top: -5em;
    }

    .card-deck {
        position: relative;
        top: -5em;
    }
}

@media(min-width: 321px) and (max-width: 375.99px) {
    .modal {
        width: 95vw; /* Ajuste para telas muito pequenas */
        height: 90vh; /* Ajuste para maior altura em dispositivos móveis */
    }

    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: -6em;
        top: 2em;
    }

    #img-logo-plano {
        height: 10em;
        width: 10em;
        position: relative;
        left: 5em;
        top:-5em;
    }

    #conteudo {
        position: relative;
        top: -2em;
    }

    #destaque-mobile {
        position: relative;
        top: -1em;
        left: -8em;
        max-height: 25em;
        width: 150%;
    }

    #div-form {
        width: 110%;
        position: relative;
        left: -1em;
        top: -10em;
    }

    #beneficios-plano-saude {
        position: relative;
        top: -10em;
    }

    .card-deck {
        position: relative;
        top: -10em;
    }
}

@media(min-width: 376px) and (max-width: 393.97px) {
    .modal {
        width: 95vw; /* Ajuste para telas muito pequenas */
        height: 90vh; /* Ajuste para maior altura em dispositivos móveis */
    }

    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: -1em;
    }

    #img-logo-plano {
        height: 10em;
        width: 10em;
        position: relative;
        left: 0em;
        top: 0em;
    }

    #conteudo {
        position: relative;
        top: -2em;
    }

    #destaque-mobile {
        position: relative;
        top: -1em;
        left: -8em;
        max-height: 25em;
        width: 150%;
    }

    #div-form {
        width: 110%;
        position: relative;
        left: -1em;
        top: -10em;
    }

    #beneficios-plano-saude {
        position: relative;
        top: -10em;
    }

    .card-deck {
        position: relative;
        top: -10em;
    }
}

@media(min-width: 394px) and (max-width: 429.97px) {
    .modal {
        width: 95vw; /* Ajuste para telas muito pequenas */
        height: 90vh; /* Ajuste para maior altura em dispositivos móveis */
    }

    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: -6em;
        top: 2em;
    }

    #img-logo-plano {
        height: 10em;
        position: relative;
        left: 5em;
        top: -5em;
    }

    #conteudo {
        position: relative;
        top: -2em;
    }

    #destaque-mobile {
        position: relative;
        top: 0em;
        left: -8em;
        width: 140%;
    }

    #div-form, #beneficios-plano-saude, .card-deck {
        position: relative;
        top: -10em;
    }
}

@media(min-width: 430px) and (max-width: 767px) {
    .modal {
        width: 95vw; /* Ajuste para telas muito pequenas */
        height: 90vh; /* Ajuste para maior altura em dispositivos móveis */
    }
    
    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: -2em;
    }

    #img-logo-plano {
        height: 10em;
        position: relative;
        left: 0em;
        top: 0em;
    }

    #conteudo {
        position: relative;
        top: 0em;
    }

    #destaque-mobile {
        position: relative;
        top: 0em;
        left: -8em;
        width: 140%;
    }

    #div-form, #beneficios-plano-saude, .card-deck {
        position: relative;
        top: -5em;
    }
}

@media(min-width: 768px) and (max-width: 1023.99px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow-x: hidden;
    }

    #img-logo {
        max-height: 8em;
        min-width: 10em;
        position: relative;
        left: 0em;
    }

    #img-logo-plano {
        height: 10em;
        position: relative;
        left: 0em;
        top: 0em;
    }

    #destaque-mobile {
        position: relative;
        top: 0em;
        left: -14em;
        width: 140%;
    }

    #conteudo {
        position: relative;
        top: 0em;
    }

    #div-form {
        position: relative;
        top: -8em;
        min-width: 100%;
        margin: 0;
        border: 1px solid red;
    }

    .bg-header-beneficios {
        background: transparent;
        max-height: 20em;
    }

    #beneficios-plano-saude {
        position: relative;
        top: -8em;
    }

    #logo-hapvida-sessao-beneficios {
        position: relative;
        top: -2em;
    }

    .card-deck {
        position: relative;
        top: -8em;
    }

    .card {
        margin-bottom: 2em;
    }

    #div-form, #beneficios-plano-saude, .card-deck {
        position: relative;
        top: -10em;
    }
}

@media(min-width: 1024px) {

    #destaque-mobile {
        display: none;
    }

    #container {
        background-image: url('/static/img/avatar-medica.png');
        background-repeat: no-repeat;
        background-position: 380px -5px;
        min-height: 950px;
    }

    .card:hover {
        transform: scale(1.1);
        margin-bottom: 1em;
    }

    #img-logo {
        position: relative;
        right: 10%;
        max-height: 8em;
    }

    #img-logo-plano {
        position: relative;
        left: 15%;
        top: 0em;
    }

    #text-copy-lp {
        position: relative;
        top: 1em;
        left: 5em;
    }

    #div-form {
        position: relative;
        top: -5em;
        box-shadow: 5px 2px 1px #006837;
    }

    .bg-header-beneficios {
        background: transparent;
        max-height: 20em;
    }

    #logo-hapvida-sessao-beneficios {
        position: relative;
        top: -12em;
    }

    #logo-plano-sessao-beneficios {
        position: relative;
        top: -5em;
        width: 100%;
        max-height: 28em;
    }

    .card-deck {
        position: relative;
        top: 3em;
        margin-top: 1em;
    }

    .img-modal {
        width: 60%;
    }

    .card img {
        width: 100%;
        min-height: 200px;
    }

    .img-card {
        max-height: 200px;
    }

    #btn-cotacao-agora {
        position: relative;
        top: 7em;
    }

    footer {
        position: relative;
        top: 10em;
    }
}
